# Analiza klientów w podejściu hierarchicznym

ZADANIE: Proszę wziąć zbiór klientów win i dokonać podobnej analizy jak w kmeans

In [3]:
import pandas as pd

df_offers = pd.read_excel("data_cl/WineKMC.xlsx", sheetname=0)
df_offers.columns = ["offer_id", "campaign", "varietal", "min_qty", "discount", "origin", "past_peak"]
df_offers.head()

,offer_id,campaign,varietal,min_qty,discount,origin,past_peak
0,1,January,Malbec,72,56,France,False
1,2,January,Pinot Noir,72,17,France,False
2,3,February,Espumante,144,32,Oregon,True
3,4,February,Champagne,72,48,France,True
4,5,February,Cabernet Sauvignon,144,44,New Zealand,True

In [4]:
df_transactions = pd.read_excel("data_cl/WineKMC.xlsx", sheetname=1)
df_transactions.columns = ["customer_name", "offer_id"]
df_transactions['n'] = 1
df_transactions.head()

  customer_name  offer_id  n
0         Smith         2  1
1         Smith        24  1
2       Johnson        17  1
3       Johnson        24  1
4       Johnson        26  1

In [5]:
# join the offers and transactions table
df = pd.merge(df_offers, df_transactions)
# create a "pivot table" which will give us the number of times each customer responded to a given offer
matrix = df.pivot_table(index=['customer_name'], columns=['offer_id'], values='n')
# a little tidying up. fill NA values with 0 and make the index into a column
matrix = matrix.fillna(0).reset_index()
# # save a list of the 0/1 columns. we'll use these a bit later
x_cols = matrix.columns[1:]
# print(df)
# print("------------")
print(matrix)

offer_id customer_name    1    2    3    4    5    6    7    8    9 ...    23  \
0                Adams  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
1                Allen  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...   0.0
2             Anderson  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
3               Bailey  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0
4                Baker  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0
5               Barnes  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
6                 Bell  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
7              Bennett  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0 ...   0.0
8               Brooks  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0 ...   0.0
9                Brown  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0
10              Butler  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
11            Campbell  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
12              Carter  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0
13               Clark  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
14             Collins  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
15                Cook  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
16              Cooper  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
17                 Cox  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
18                Cruz  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
19               Davis  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
20                Diaz  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0 ...   0.0
21             Edwards  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0 ...   0.0
22               Evans  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
23              Fisher  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
24              Flores  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
25              Foster  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...   1.0
26              Garcia  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
27               Gomez  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
28            Gonzalez  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...   0.0
29                Gray  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
..                 ...  ...  ...  ...  ...  ...  ...  ...  ...  ... ...   ...
70                Reed  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0 ...   0.0
71               Reyes  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...   1.0
72          Richardson  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0 ...   0.0
73              Rivera  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0
74             Roberts  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
75            Robinson  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0
76           Rodriguez  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
77              Rogers  0.0  0.0  1.0  0.0  0.0  0.0  1.0  1.0  0.0 ...   0.0
78                Ross  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
79             Russell  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
80             Sanchez  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0 ...   0.0
81             Sanders  1.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0 ...   0.0
82               Scott  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0 ...   1.0
83               Smith  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
84             Stewart  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0 ...   0.0
85            Sullivan  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0 ...   0.0
86              Taylor  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0
87              Thomas  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0 ...   0.0
88            Thompson  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0 ...   0.0
89              Torres  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0 ...   0.0
90              Turner  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0 ...   0.0
91              Walker  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
92                Ward  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
93              Watson  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 ...   0.0
94               White  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
95            Williams  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
96              Wilson  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0 ...   0.0
97                Wood  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 ...   0.0
98              Wright  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0 ...   0.0
99               Young  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0 ...   0.0

offer_id   24   25   26   27   28   29   30   31   32
0         0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
1         0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2         1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3         0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
4         0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5         0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
6         1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
7         0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
8         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9         0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
10        0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0
11        1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
12        0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
13        0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
14        0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
15        1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
16        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
17        1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
18        0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
19        0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
20        0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
21        0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
22        0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
23        0.0  0.0  0.0  0.0  1.0  0.0  1.0  1.0  0.0
24        1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
25        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
26        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
27        0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
28        0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
29        0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
..        ...  ...  ...  ...  ...  ...  ...  ...  ...
70        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
71        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
72        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
73        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
74        0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
75        0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
76        0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
77        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
78        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
79        0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
80        0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
81        0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
82        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
83        1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
84        0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
85        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
86        0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0
87        0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
88        0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
89        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
90        0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0
91        0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
92        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
93        0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
94        0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
95        0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
96        0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
97        0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
98        0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
99        0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0

[100 rows x 33 columns]

In [6]:
df

,offer_id,campaign,varietal,min_qty,discount,origin,past_peak,customer_name,n
0,1,January,Malbec,72,56,France,False,Thomas,1
1,1,January,Malbec,72,56,France,False,Jackson,1
2,1,January,Malbec,72,56,France,False,Mitchell,1
3,1,January,Malbec,72,56,France,False,Peterson,1
4,1,January,Malbec,72,56,France,False,Wood,1
5,1,January,Malbec,72,56,France,False,Price,1
6,1,January,Malbec,72,56,France,False,Foster,1
7,1,January,Malbec,72,56,France,False,Sanders,1
8,1,January,Malbec,72,56,France,False,Butler,1
9,1,January,Malbec,72,56,France,False,Fisher,1
10,2,January,Pinot Noir,72,17,France,False,Smith,1
11,2,January,Pinot Noir,72,17,France,False,Rodriguez,1
12,2,January,Pinot Noir,72,17,France,False,Martin,1
13,2,January,Pinot Noir,72,17,France,False,Jackson,1
14,2,January,Pinot Noir,72,17,France,False,Campbell,1
15,2,January,Pinot Noir,72,17,France,False,Mitchell,1
16,2,January,Pinot Noir,72,17,France,False,Peterson,1
17,2,January,Pinot Noir,72,17,France,False,Bell,1
18,2,January,Pinot Noir,72,17,France,False,Cox,1
19,2,January,Pinot Noir,72,17,France,False,Fisher,1
20,3,February,Espumante,144,32,Oregon,True,Lee,1
21,3,February,Espumante,144,32,Oregon,True,Nelson,1
22,3,February,Espumante,144,32,Oregon,True,Rogers,1
23,3,February,Espumante,144,32,Oregon,True,Richardson,1
24,3,February,Espumante,144,32,Oregon,True,Brooks,1
25,3,February,Espumante,144,32,Oregon,True,Long,1
26,4,February,Champagne,72,48,France,True,Thomas,1
27,4,February,Champagne,72,48,France,True,Lee,1
28,4,February,Champagne,72,48,France,True,Harris,1
29,4,February,Champagne,72,48,France,True,Clark,1
...,...,...,...,...,...,...,...,...,...
294,30,December,Malbec,6,54,France,False,Diaz,1
295,30,December,Malbec,6,54,France,False,James,1
296,30,December,Malbec,6,54,France,False,Cruz,1
297,30,December,Malbec,6,54,France,False,Hughes,1
298,30,December,Malbec,6,54,France,False,Price,1
299,30,December,Malbec,6,54,France,False,Myers,1
300,30,December,Malbec,6,54,France,False,Perry,1
301,30,December,Malbec,6,54,France,False,Butler,1
302,30,December,Malbec,6,54,France,False,Fisher,1
303,31,December,Champagne,72,89,France,False,Williams,1
304,31,December,Champagne,72,89,France,False,Miller,1
305,31,December,Champagne,72,89,France,False,Gonzalez,1
306,31,December,Champagne,72,89,France,False,Clark,1
307,31,December,Champagne,72,89,France,False,Young,1
308,31,December,Champagne,72,89,France,False,Baker,1
309,31,December,Champagne,72,89,France,False,Nelson,1
310,31,December,Champagne,72,89,France,False,Roberts,1
311,31,December,Champagne,72,89,France,False,Turner,1
312,31,December,Champagne,72,89,France,False,Parker,1
313,31,December,Champagne,72,89,France,False,Nguyen,1
314,31,December,Champagne,72,89,France,False,Kelly,1
315,31,December,Champagne,72,89,France,False,Wood,1
316,31,December,Champagne,72,89,France,False,Price,1
317,31,December,Champagne,72,89,France,False,Morales,1
318,31,December,Champagne,72,89,France,False,Barnes,1
319,31,December,Champagne,72,89,France,False,Fisher,1
320,32,December,Cabernet Sauvignon,72,45,Germany,True,Young,1
321,32,December,Cabernet Sauvignon,72,45,Germany,True,Cooper,1
322,32,December,Cabernet Sauvignon,72,45,Germany,True,Gomez,1
323,32,December,Cabernet Sauvignon,72,45,Germany,True,Kelly,1

ZADANIE: Klastrujemy hierarchicznie

In [7]:
#

ZADANIE: Wypiszmy liczności klastrów na poziomach od 2 do 10 licząc od góry

In [8]:
#

ZADANIE: Prosze wybrać sobie klienta np. Allen. Zobaczmy co preferują (a co nie) ludzie podobni do Allen'a - jakie wina, w jakich ilościach i z jakimi rabatami. Patrzymy na górne poziomy hierarchii.

In [9]:
#